:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #d62828;
  --color-secondary: #f77f00;
  --color-background: white;
  --color-text-dark: #003049;
  --color-accent-light: #FCBF49;

  background-color: var(--color-background);
  color: var(--color-text-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-secondary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-background);
}

h1 {
  color: var(--color-text-dark);
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  border-color: var(--color-secondary);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.site-header{
  background-color: var(--color-background);
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.app-logo{
  height: 100px;
  margin-right: 15px;
  margin-top: 15px;
}

.nav-link{
  color: #f77f00;
  font-size: 1.1em;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover{
  color: var(--color-accent-light);
}

.content{
  padding: 20px;
}


